image: golang:1.24

definitions:
  steps:
    - step: &build
        name: Build
        caches:
          - go-mod
        script:
          - go build -v ./...
    - step: &test
        name: Test
        caches:
          - go-mod
        script:
          - go test -v -race ./...
    - step: &lint
        name: Lint
        caches:
          - go-mod
        script:
          - go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
          - golangci-lint run --timeout 5m
  caches:
    go-mod:
      key:
        files:
          - go.sum
      path: /go/pkg/mod

pipelines:
  default:
    - parallel:
        - step: *build
        - step: *test

  branches:
    master:
      - parallel:
          - step: *build
          - step: *test
          - step: *lint

  pull-requests:
    '**':
      - parallel:
          - step: *build
          - step: *test
          - step: *lint
